#legislator-search,
#bill-search {
    padding: .5em;
}

#legislator-search div.form {
    float: left;
    width: 49%;
}

#legislator-search div.results {
    float: left;
    width: 48%;
    border-left: 1px solid #ddd;
    padding: .5em;
    height: 200px;
    overflow-y: auto;
}

#legislator-search div.legislator,
#legislator-search div.bill {
    border-bottom: 1px solid #ddd;
}

#bill-search div.form {
    width: 100%;
}
#bill-search div.results {
    width: 100%;
    overflow-y: auto;
}

div.openstates div.results div.result {
    padding: .5em;
}

div.openstates div.results div.result.selected {
    background-color: #ffb;
}